@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  scrollbar-width: none; /* Firefox */
}

.wrapper::-webkit-scrollbar {
  width: 0; /* Webkit-based browsers (Chrome, Safari, Edge) */
  height: 0;
}
